.info__button-reduct{
  width: 24px;
  height: 24px;
}
.info__button-reduct:hover{
  opacity: .6;
  transition: .3s;
}
@media (max-width: 620px) {
  .info__button-reduct{
    width: 18px;
    height: 18px;
  }
}

