.item__like{
  background-image: url(../../../images/like.svg);
  margin-right: 20px;
  width: 22px;
  min-height: 19px;
}
.item__like:hover{
  opacity: .5;
  transition: opacity .3s;
}
.item__like:active{
  background-image: url(../../../images/like-black.svg);
}
